:root {
    --bg-color: #1f1f37;
    --primary-color: #10F4AF;
    --white: #ffffff;
    --accent1: #49C7C8;
    --accent2: #9B86ED;
    --accent3: #63B2D4;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Mont', sans-serif;
    color: var(--white);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0 1rem;
  /* Full height */
  height: 100%; 
  width: auto;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.mouse-follower {
    z-index: 998;
}

.mouse-follower span {
    z-index: 10;
    opacity: 1;
    top: -10px;
    left: -10px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    position: fixed;
    transition: 180ms ease-in-out;
    pointer-events: none;
}

.mouse-follower .cursor-outline {
    height: 30px;
    width: 30px;
    border: 1px solid #10F4AF;
}

.mouse-follower .cursor-dot {
    height: 6px;
    width: 6px;
    background: #9B86ED;
}

.mouse-follower.hide-cursor span {
    border-color: transparent;
    background: transparent;
}

.mouse-follower.highlight-cursor-head {
    cursor: none;
}

.mouse-follower.highlight-cursor-head .cursor-outline {
    height: 0;
    width: 0;
}

.mouse-follower.highlight-cursor-head .cursor-dot {
    height: 150px;
    width: 150px;
    background: #fff;
    mix-blend-mode: difference;
}

@media (max-width: 991px) {
    .mouse-follower.highlight-cursor-head .cursor-dot {
        height: 80px;
        width: 80px;
    }
}

.mouse-follower.highlight-cursor-para {
    cursor: none;
}

.mouse-follower.highlight-cursor-para .cursor-outline {
    height: 0;
    width: 0;
}

.mouse-follower.highlight-cursor-para .cursor-dot {
    height: 100px;
    width: 100px;
    background: #fff;
    mix-blend-mode: difference;
}

@media (max-width: 991px) {
    .mouse-follower.highlight-cursor-para .cursor-dot {
        height: 60px;
        width: 60px;
    }
}
section {
    height: fit-content;

}

/* footer */

footer h5 {

    color: #10F4AF ;
}
footer li, a {
    text-decoration: none;
    color: var(--white);
    
}
.footer-link:hover {
    color: #10F4AF;
    
}

/***************************************
 Homepage 
 ***************************************/
.navbar {
    background-color: transparent;
    }
.nav-menu {
    background-color: transparent;
   padding: 1rem 5rem;
    z-index: 10; 
}

@media (max-width:998px) {
    .nav-menu {
        padding: 1rem 0;
    }

    
    
}

.nav-menu .navbar-nav .nav-item .nav-link {
    color: #ffffff;
}

.nav-menu .navbar-nav .nav-item .nav-link:hover {
  background-color: #63B2D4;
  border-radius: 4px;
}

/* Initial navbar style */
.navbar {
    transition: all 0.3s ease; /* Smooth transition for background change */
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



/* Show dropdown on hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
  text-align: Left;


}


.dropdown-menu .dropdown-item:hover {

  background-color: #63B2D4;
  color: var(--white);
}



/* Style changes when scrolled */
.navbar.scrolled {
    background-color: #3333336a;  /* Dark background when scrolled */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Add shadow */
    border-radius: 12px;
}

.navbar-toggler-icon{
    color: #ffffff;
    border-color: var(--white);
}



.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 1rem;
    position: relative;
    height:100vh ;
}

.hero-section .background-image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    
}

.hero-content {
    z-index: 2;
}

.hero-title {
    font-size: 5rem;
    font-weight: bold;
    color: var(--primary-color);
    
}

@media (max-width:768px) {
    .hero-title {
     
      font-size: 4rem;
    }  
}


.hero-content p { 
  font-size: 2rem;


}


#about  {
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
}

#about .about-brief {
 padding-top: 100px;

}
#about h2 {
    font-size: 3rem;
    color: #10F4AF;
}

#about p {
    font-size: 1.3rem;
    justify-content: center;
    text-align: justify;
}

@media (max-width:768px) {
    
    #about .about-brief {
        padding-top: 0;
       
       }
}

#innovation-streams p {
    font-size: 1.5rem;
    color: var(--white);
    margin: 0 auto;
}
#innovation-streams h2 {
    color: #63B2D4;
    font-weight: bold;
    font-size: 3rem;
}

.innovation-card {
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-body p {
  font-size: 1rem;
}
.card-body h5 { 
  font-size: 1.5rem
}

.innovation-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.innovation-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.innovation-card:hover img {
    transform: scale(1.1);
}

.innovation-card .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s;
}

.innovation-card:hover .card-body {
    opacity: 1;
}

.showcase-section p {
    font-size: 1.5rem;
    color: var(--white);
    margin: 0 auto;
}
.showcase-section h2 {
    color: #63B2D4;
    font-weight: bold;
    font-size: 3rem;
}
.showcase-section {
    width: 100%;
    padding: 40px 0;
    /* background-color: #f8f8f8; */
    overflow: hidden;

  }

  .showcase-section .swiper-container {
    width: 100%;
    height: 500px;
    position: relative;
  }

  .showcase-section .swiper-slide {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .showcase-section  .content {
    color: white;
    text-align: center;
    z-index: 2;
    max-width: 90%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for text visibility */
    border-radius: 10px;
  }

  .showcase-section  .content h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .showcase-section  .content p {
    font-size: 1rem;
    margin: 10px 0;
  }

  .showcase-section .btn-learn-more {
    padding: 10px 20px;
    background-color: #FF5722;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    transition: background-color 0.3s;
    border-radius: 5px;
  }

  .showcase-section  .btn-learn-more:hover {
    background-color: #FF3D00;
  }

  /* Responsive Styling */
  @media (max-width: 768px) {
    .showcase-section  .swiper-container {
      height: 400px;
    }

    .showcase-section  .content h2 {
      font-size: 1.5rem;
    }

    .showcase-section  .content p {
      font-size: 0.9rem;
    }

    .showcase-section  .btn-learn-more {
      font-size: 0.9rem;
    }
  }

  @media (max-width: 480px) {
    .swiper-container {
      height: 300px;
    }

    .content h2 {
      font-size: 1.2rem;
    }

    .content p {
      font-size: 0.8rem;
    }

    .btn-learn-more {
      font-size: 0.8rem;
      padding: 8px 16px;
    }
  }


  /* clients section */ 

  .clients-section {
    width: 100%;
    
    padding: 60px 0;
    background-color:transparent;
    text-align: center;
    overflow: hidden;
  }

  .clients-section h2 {
    color: #63B2D4;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 50px;
  }

  .clients-section .swiper-container.clients-swiper {
    width: 80%;
    margin: 0 auto;
  }

  .clients-section .swiper-wrapper {
    display: flex;
    align-items: center;
  }

  .clients-section .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .clients-section .swiper-slide img {
    max-width: 300px;
    max-height: 160px;
    filter: grayscale(100%);
    transition: filter 0.3s;
  }

  .clients-section .swiper-slide img:hover {
    filter: none;
  }

  @media (max-width: 768px) {
    .clients-section .swiper-slide img {
      max-width: 120px;
      max-height: 60px;
    }
  }
  @media (max-width: 480px) {
    .clients-section .swiper-slide img {
      max-width: 100px;
      max-height: 40px;
    }
  }

  #partnership-program {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--white);
    padding: 4rem 1rem;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#partnership-program::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 31, 55, 0.492); /* Overlay color */
    z-index: -1;
}

#partnership-program h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

#partnership-program p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

#partnership-program .partnership-button {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s;
}

#partnership-program .partnership-button:hover {
    background-color: var(--accent1);
    transform: scale(1.05);
}

  .news-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 15px;
}
.news-title {
  font-size: 3rem;
  color: #63B2D4;
}
.news-paragraph { 
  font-size: 1.5rem;
  text-align: justify;
}
.news-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.news-card .card-body {
    padding: 15px;
}
@media (max-width: 768px) {
    .swiper-slide .row {
        flex-wrap: wrap;
    }
    .swiper-slide .col-md-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 576px) {
    .swiper-slide .col-md-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

#career {
  background-color: var(--bg-color);
  color: var(--white);
  padding: 4rem 1rem;
  text-align: left;
}

#career h2 {
  color: #63B2D4;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
#career p {
  font-size: 1.5rem;
  text-align: justify;
}

#career img {
  max-width: 100%;
  border-radius: 8px;
}

#career .apply-button {
  background-color: var(--primary-color);
  border: none;
  transition: background-color 0.3s ease-in-out, transform 0.2s;
}

#career .apply-button:hover {
  background-color: var(--accent1);
  transform: scale(1.05);
}

#call-to-action {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: var(--white);
  padding: 4rem 1rem;
  text-align: center;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#call-to-action::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 31, 55, 0.475); /* Overlay color */
  z-index: -1;
}

#call-to-action h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#call-to-action p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

#call-to-action .cta-button {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s;
}

#call-to-action .cta-button:hover {
  background-color: var(--accent1);
  transform: scale(1.05);
}

#contact-us {
  background-color: var(--bg-color);
  color: var(--white);
  padding: 4rem 1rem;
}

#contact-us h2 {
  color: #63B2D4;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
#contact-us h5 {
  color: var(--primary-color);
}

#contact-us a {
  color: var(--primary-color);
  transition: color 0.3s;
}

#contact-us a:hover {
  color: var(--accent1);
}


/* ************************************
Inner-page 
***************************************/


.inner-hero {
  background-color: var(--bg-color);
  color: var(--white);
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 3rem 1rem; /* Reduced padding to make it visually smaller */
  height: 50vh; /* Set height to half of full viewport */
  text-align: center;
}

.inner-hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(31, 31, 55, 0.8); /* Overlay */
  z-index: 1;
}

.inner-hero h1 {
  position: relative;
  font-size: 2.5rem; /* Adjusted font size */
  font-weight: bold;
  color: var(--primary-color);
  z-index: 2;
  margin-top: 6rem;


}

.breadcrumb {
  position: relative;
  background: none;
  justify-content: center;
  z-index: 2;
}


 .breadcrumb-item  a {
  color: #10F4AF;
  text-decoration: none;
  color: var(--white);
}

.breadcrumb .active {
  color: var(--white);
}

/* Content Section */
.inner-content {
  justify-content: center;
  align-items: center;
}
.inner-content h2 {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.inner-content p {
  text-align: justify;
  font-size: 1.3rem;
  line-height: 1.8;
}

/* Call to Action Footer */
.inner-cta {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.inner-cta p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.promotions {
  margin-top: 2rem;
}

.promotion-card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.promotion-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.promotion-card .card-img-top {
  height: 150px;
  object-fit: cover;
}

.promotion-card .card-body {
  text-align: center;
}

.promotion-card .btn {
  margin-top: 0.5rem;
  background-color: var(--primary-color);
  border: none;
  transition: background-color 0.3s;
}

.promotion-card .btn:hover {
  background-color: var(--accent1);
}


/* ********************************
About us Page
***********************************/

.strategic-direction h2 {
  color: #63B2D4;
  font-size: 3rem;
}

.strategic-direction .card-body {

  background-color: #1f1f37;
  align-items: center;
  justify-content: center;
}

.strategic-direction .card-body .card-title {
color: var(--white);
  background-color: #49C7C8;
  border-radius: 12px;
  height: 100px;
  text-align: center;
  padding: 35px;
}

.strategic-direction .card-body .card-text {
  color: var(--white);
  font-size: 1.3rem;
  text-align: justify;
  }

  .core-value-r {

    border-left: #10F4AF solid 2px;
    padding-left: 1rem;
  }
  .core-value h2 { 

    font-size: 3rem;
    color: #63B2D4;
  }

  .core-value-d {
    font-size: 1.5rem;
    color: var(--white);
  }

    .core-value-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    border-radius: 10px;
    background-color: var(--white);
    height: 200px;
  }

  .core-value-card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }

  .core-value-card h5 {
    color: var(--accent3);
    font-weight: bold;
  } 
  .core-value-card p {
    color: #333;
    justify-content: center;
    text-align: justify;
  }

 .core-value .icon {
    font-size: 1.5rem; 
  }

  .strategic-goals h2 {
    color: #63B2D4;
    font-size: 3rem;
  }

  .strategic-goals-d  {
    color: var(--white);
    font-size: 1.5rem;
  }

  .strategic-goals span {
    color: #63B2D4;

  }

  .strategic-goals .border-bottom {
    border-color: #63B2D4;
  }

  .our-journey h4 {
    color: #63B2D4;
    font-weight: 500;
  }

  .our-journey h2 {
    color: var(--white);
    font-weight: bold;
    font-size: 3rem;
  }

  .our-journey p {
    color: var(--white);
    font-size: 1.5rem;
    text-align: justify;
  }



  /* *****************************************
  Innovation Streans Pages
  ********************************************/

  .services-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f8f9fa;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.services-menu a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    margin: 10px;
    padding: 10px 0;
    position: relative;
    flex: 1 1 calc(100% / 5 - 20px);
    text-align: center;
}

.services-menu a:hover, .services-menu a.active {
    color: #007bff;
}

.services-menu a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #007bff;
    transition: width 0.3s ease-in-out;
}

.services-menu a:hover::after, .services-menu a.active::after {
    width: 100%;
}

@media (max-width: 1024px) {
    .services-menu a {
        flex: 1 1 calc(50% - 20px);
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .services-menu a {
        flex: 1 1 calc(50% - 20px);
        font-size: 0.85rem;
    }
}